body {
    height: 5000px;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.first {
    color: red;
    height: 400px;
    background-image: url(../images/nature.webp);
    background-size: cover;
    background-attachment: fixed;
}

.my-div {
    color: rgb(0, 255, 255);
    height: 300px;
    width: 300px;
    background-color: #a52a2a;
    font-size: 2rem;
}

.border_explain {
    height: 100px;
    width: 100px;
    border: 2px solid #F00;
    margin: 20px;
}

button {
    height: 40px;
    width: 120px;
    background-color: #4e4e4e;
    border: 2px solid #4e4;
    font-size: 1rem;
    border-radius: 10px;
    color: #7d7d7d;
    transition: 1s all;
}

button:hover {
    color: #4e4e4e;
    background-color: #7d7d7d;
    width: 140px;
}

i {
    color: red;
    font-size: 30px;
    transition: 1s;
}

i:hover {
    color: #00F
}

.display {
    background-color: #F00;
    margin: 20px;
}

span {
    background-color: #00F;
    text-transform: capitalize;
}

.transform {
    height: 200px;
    width: 200px;
    background-color: #b71717;
    transition: .5s;
}

.transform:hover {
    /* transform: translate(20px); */
    /* transform: scale(1.4); */
    transform: rotate(-45deg)
}

.parent {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    background-color: #080;
    justify-content: space-between;
}

.child {
    height: 100px;
    width: 100px;
    background-color: #F00;
    color: #FFD;
    text-align: center;
    border: 2px solid;
    line-height: 100px;
    font-size: 3rem;
}

@media (max-width:600px) {
    :root{
        font-size: 8px;
    }
    .parent {
        flex-direction: column;
    }
}
@media (min-width:601px) and (max-width:1000px) {
    /*  */
}