@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --header_color: #212934;
    --gray_color: #e9eef5;
    --green_color: #59ab6e;
    --footer_color: #1d242d;
    --gold_color: #ede861;
    --main_font: #2d3236;
    --second_font: #e3d7c7
}

* {
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--main_font)
}

/*----------------------- Start header -----------------------*/
header {
    background-color: var(--header_color);
    color: var(--gray_color);
    padding: 10px 0;
    font-size: .8rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .left {
    display: flex;
}

header .left .phone {
    margin-left: 10px;
}

header .right i {
    margin: 0 5px;
}

/*----------------------- End header -----------------------*/
/*----------------------- Start nav -----------------------*/
nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 70px;
}

nav .links {
    width: 50%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

nav .icons i {
    margin-right: 10px;
    color: var(--main_font);
    position: relative;
}

nav i .cart_counter {
    height: 20px;
    width: 20px;
    background-color: var(--gray_color);
    border-radius: 50%;
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: .8rem;
    text-align: center;
    line-height: 20px;
}

nav i .notification_counter {
    height: 20px;
    border-radius: 9px;
    background-color: var(--gray_color);
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: .7rem;
    text-align: center;
    padding: 3px 1px;
}

/*----------------------- End nav -----------------------*/




@media (max-width:500px) {
    header .container {
        flex-direction: column;
    }

    header .right {
        margin-top: 10px;
    }

    nav .container {
        flex-direction: column;
    }

    nav .links {
        width: 100%;
        margin-bottom: 10px;
    }

    nav .icons i{
        margin-right: 20px;
    }
}